body {
	padding-top : 50px; 
	padding-left : 350px; 
}

table, td {
	border : 1px solid; 
	border-collapse : collapse; 
}

input {
	border: 2px solid black; 
}

#button {
	height: 30px; 
	width: 50px; 
	background-color: yellow; 
	
}