body {
	padding-top : 50px; 
	padding-left : 250px; 
}

h1, h2 {
	padding-left : 150px; 
}

table, td {
	border : 1px solid; 
	border-collapse : collapse; 
}

input {
	border: 2px solid black; 
}

/* css for buttons add and cancel*/ 
.buttonAdd {
	height: 30px; 
	width: 50px; 
	background-color: rgb(122, 255, 3); 
	
}

.buttonCancel { 
	height: 30px; 
	width: 50px; 
	background-color: rgb(255, 100, 80);  
	
}

.span {
	padding-left: 50px; 
}
/*css for class and id of table for students.html page*/

#dataId {
	height: 25px; 
	width: 30px; 
	padding-left: 7px; 
}

.data {
	height: 25px; 
	width: 90px; 
	padding-left: 7px; 
}

.function {
	height: 25px; 
	width: 100px; 
	text-decoration: underline; 
	color: blue; 
}

.link2 {
	text-decoration: underline; 
	color: blue; 
}